    @import '/vendor/filament/filament/resources/css/theme.css';
    @config 'tailwind.config.js';
    .fi-sidebar-item {
        row-gap: 0.78rem !important;
    }
    
    .fi-ac-btn-action {
        height: 50px !important;
        width: 143.1px !important;
    }